/* CSS 'reset' */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  -webkit-overflow-scrolling: touch;
}

html,
body {
  /*make height 100% minus the height of the buttons so page doesn't
    overscroll*/
  height: calc(100vh - 78px);
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #1a1a1a;
}

.heading {
  background-color: #1a1a1a;
  width: 100%;

  /*to achieve body scrolling over heading*/
  position: fixed;
  top: 0;
  z-index: -3;
}

#name {
  font-family: "Roboto Slab", "Arial", sans-serif;
  font-size: 44px;
  color: #fffaff;
  padding-top: 10px;
}

.img-circle {
  width: 120px;
  border-radius: 50%;
  padding-bottom: 10px;
  padding-top: 5px;

  /*to center the image*/
  margin: auto;
  display: block;
}

#mail {
  font-family: "Roboto Slab", "Arial", sans-serif;
  font-size: 18px;

  /*to stop the link going accross the entire page*/
  width: min-content;
}

a {
  color: #fffaff;
  padding-top: 10px;
  text-decoration: none;
}

/*the github and linkedin icons*/
.fab {
  font-size: 30px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 8px;
}

/*the icons in the nav buttons*/
.fas {
  font-size: 30px;
}

.buttons {
  display: flex;
  /*taking 1px from the side margins of 1px on .btn*/
  padding-right: 8%; /*calc(8% - 1px);*/
  padding-left: 8%; /*calc(8% - 1px);*/
  position: absolute;

  /*280px for the heading height, 0 for left and right to force flex*/
  top: 280px;
  left: 0;
  right: 0;
  z-index: 0;
}

.btn {
  /*margin-left: 1px;
  margin-right: 1px;*/
  background-color: /*#c1684d*/ #4882e0;
  color: #fffaff;
  cursor: pointer;
  padding: 12px;
  flex: 1;
  font-size: 20px;
}

.btn:focus {
  background-color: /*#a62700*/ #2d4d80;
  color: #1a1a1a;
}

.btn-active {
  /*pointer-events: none;*/
  background-color: /*#a62700*/ #2d4d80;
  color: #1a1a1a;
}

.section {
  background-color: /*#a62700*/ #2d4d80;

  /*-16% from 8% padding either side*/
  width: 84%;
  margin-left: auto;
  margin-right: auto;

  /*100% of page height excluding buttons + 20px buffer*/
  /*min-height: calc(100vh - 78px + 20px);*/
  padding-top: 20px;

  /*the height of heading (280) and buttons (78)*/
  /*margin-top: 358px;*/

  color: #555;
  box-sizing: border-box;

  /*this is only temporary, in JS change to auto at page's bottom*/
  overflow: visible;

  display: flex;
  flex-direction: column;
  z-index: -2;
}

/*the titles for all section tiles*/
.section h2 {
  font-size: 28px;
}

/*the about section as it is the first one*/
#about {
  /*the height of heading (280) and buttons (78)*/
  margin-top: 358px;
}

/*about first few words/heading*/
#about h2 {
  padding-top: 25px;
  padding-bottom: 10px;
  padding-left: 7%;
}

/*about body*/
#about p {
  font-size: 18px;
  padding-bottom: 30px;
  padding-left: 7%;
  padding-right: 7%;
}

/*important about paragraph words*/
#about strong {
  color: #333;
}

/*project images*/
#projects img {
  width: 40%;
  height: 200px;
  object-fit: contain;
  float: left;

  padding: 5%;
}

/*project title*/
#projects h2 {
  padding-top: 10%;
  padding-right: 5%;
}

/*project tech*/
#projects h3 {
  font-size: 18px;
  padding-top: 10px;
  padding-right: 5%;
  font-style: italic;
  font-weight: normal;
}

/*github and play icons*/
#projects .projLink {
  padding-top: 2%;
  padding-right: 5%;
  font-size: 36px;
  color: #555;
}

/*education level*/
#education h2 {
  width: 55%;
  padding-left: 7%;
  padding-top: 25px;
  padding-bottom: 10px;
  float: left;
}

/*education focus*/
#education h3 {
  font-size: 18px;
  font-weight: normal;
  font-style: italic;
  width: 55%;
  padding-left: 7%;
  padding-right: 10%;
  padding-bottom: 30px;
  float: left;
}

/*education institution + period*/
#education h4 {
  width: 20%;
  padding-left: 3%;
  padding-right: 5%;
  float: left;
  text-align: right;
}

/*education institution*/
#education .eduInstitution {
  width: 30%;
  padding-top: 5%;
  padding-bottom: 15px;
}

/*employment employer*/
#employment h2 {
  width: 55%;
  padding-left: 7%;
  padding-top: 25px;
  padding-bottom: 10px;
  float: left;
}

/*employment position*/
#employment h3 {
  font-size: 18px;
  font-weight: normal;
  font-style: italic;
  width: 55%;
  padding-left: 7%;
  padding-right: 10%;
  padding-bottom: 30px;
  float: left;
}

/*employment period*/
#employment h4 {
  width: 30%;
  padding-left: 3%;
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 15px;
  float: left;
  text-align: right;
}

.tile {
  margin: 5px auto;
  border-left: 2px solid;
  border-color: #2a2a2a;
  background-color: #e3e3e3;
  width: 80%;
}

.lastTile {
  margin-bottom: 40px;
}

#footer {
  min-height: 100px;
}

/*if the screen is less than 600px wide (i.e. a mobile device)*/
@media screen and (max-width: 600px) {
  html,
  body {
    /*make height 100% minus the height of the buttons so page doesn't
      overscroll*/
    height: calc(100vh - 54px);
  }

  #name {
    font-size: 32px;
  }

  #mail {
    font-size: 16px;
  }

  .section {
    width: 100%;
    /*100% of page height excluding buttons + 15px buffer*/
    /*min-height: calc(100vh - 54px + 15px);*/

    /*the height of heading (250) and buttons (54)*/
    /*margin-top: 304px;*/
  }

  .section h2 {
    font-size: 24px;
  }

  .buttons {
    padding-right: 0%;
    padding-left: 0%;

    /*250px for the heading height*/
    top: 250px;
  }

  .btn {
    font-size: 0px;
  }

  .img-circle {
    width: 100px;
  }

  .fab {
    /*increase top padding of github/linkedin icons to centre them*/
    padding-top: 13px;
  }

  #about {
    /*the height of heading (250) and buttons (54)*/
    margin-top: 304px;
  }

  #projects img {
    width: 35%;
    height: 140px;

    padding-top: 10px;
    padding-bottom: 10px;

    /*object-fit: cover;
    object-position: 50% 10%;*/
  }

  #projects h2 {
    padding-top: 5%;
  }

  #projects .projLink {
    padding-top: 4%;
    padding-bottom: 20px;
  }

  #education .tile {
    display: flex;
    flex-direction: column;
  }

  #education h2 {
    width: 80%;
    padding-bottom: 10px;
    float: none;
    order: 1;
  }

  #education h3 {
    width: 80%;
    float: none;
    padding-bottom: 10px;
    order: 2;
  }

  #education h4 {
    /*hide the date for a leaner mobile look*/
    display: none;
  }

  #education .eduInstitution {
    padding-top: 0;
    float: none;
    order: 3;
    display: block;
    width: 80%;
    text-align: left;
    font-size: 18px;
    font-weight: normal;
    padding-bottom: 20px;
    padding-left: 7%;
  }

  #employment .tile {
    display: flex;
    flex-direction: column;
  }

  #employment h2 {
    width: 80%;
    padding-right: 0;
    padding-bottom: 10px;
    float: none;
    order: 1;
  }

  #employment h3 {
    width: 80%;
    float: none;
    padding-bottom: 10px;
    order: 2;
  }

  #employment h4 {
    padding-top: 0;
    float: none;
    order: 3;
    display: block;
    width: 80%;
    text-align: left;
    font-size: 18px;
    font-weight: normal;
    padding-bottom: 20px;
    padding-left: 7%;
  }

  .tile {
    /*if the screen is thin (mobile) then modify tile style*/
    width: 96%;
    border: 0px;
    border-bottom: 1px dotted;
    border-color: #3f3f3f;
    /*background-color: #fffaff;*/
    margin: 0px auto;
  }

  .lastTile {
    margin-bottom: 30px;
  }

  #footer {
    min-height: 50px;
  }
}

/*if the screen is more than 1200px wide (i.e. full screen 1080+ monitor)*/
@media screen and (min-width: 1200px) {
  .buttons {
    padding-left: 14%;
    padding-right: 14%;
  }

  .section {
    /*-28% from 14% padding either side*/
    width: 72%;
  }
}

/*only have hover functionality on hover enabled devices (i.e. not touch)*/
@media (hover: hover) {
  .btn:hover {
    color: #9f9f9f;
  }

  .btn-active:hover {
    color: #1a1a1a;
  }

  a:hover {
    text-decoration: underline;
    color: #9f9f9f;
  }

  .projLink:hover {
    color: #9f9f9f;
  }

  #projects .projLink:hover {
    color: /*#a62700*/ #4882e0;
  }
}
