/* CSS 'reset' */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;

  display: flex;
  flex-direction: column;

  background-color: #636363;
}

.heading {
  background-image: linear-gradient(to bottom, #18191a, #636363);

  flex: 2;

  display: flex;
  flex-direction: column;
}

#name {
  font-family: "Gugi", "Arial", sans-serif;
  font-style: italic;
  font-size: 42px;
  padding-bottom: 10px;
  color: #ffb073;
  padding-top: 10px;
  flex: 2;
}

.img-circle {
  width: 150px;
  border-radius: 75px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  flex: 4;
}

#mail {
  width: min-content;
  align-self: center;
  font-size: large;
  font-style: italic;
  padding-top: 20px;
  padding-bottom: 10px;
  flex: 1;
}

.icons {
  flex: 1;
  padding-bottom: 10px;
}

#github {
  font-size: xx-large;
  padding: 10px;
}

#linkedin {
  font-size: xx-large;
  padding: 10px;
}

.buttons {
  padding-right: 10%;
  padding-left: 10%;
  display: flex;
  flex: 2;
}

.btn {
  background-color: #7395ae;
  border: none;
  color: white;
  cursor: pointer;
  padding: 12px 0px;
  flex: 1;
}

.btn:focus {
  background-color: #557a95;
}

.btn-active {
  pointer-events: none;
  background-color: #557a95;
}

a {
  color: #ffb882;
}

.section {
  background-color: #557a95;
  color: #ffffff;

  /*-16% from 8% padding either side*/
  width: 84%;
  align-self: center;

  display: flex;
  flex-direction: column;

  flex: 2;

  overflow: auto;
}

.section h3 {
  font-size: x-large;
  font-style: italic;
  padding: 15px;
}

.section p {
  font-size: large;
  padding: 20px;
}

.carousel {
  display: flex;
  align-items: center;
}

.arrow {
  flex: 1;
  padding: 20px;
  font-size: 30px;
  color: #7395ae;
}

.tileContainer {
  flex: 6;
  height: 100%;

  flex-shrink: 0;
  overflow: hidden;

  display: flex;
}

.tile {
  width: 50%;
  padding: 0px;
  flex-shrink: 0;
  border-style: solid;
}

/*if the screen is less than 600px wide*/
@media screen and (max-width: 600px) {
  .heading {
    flex: 2;
  }

  .section {
    width: 100%;
    flex: 2;
  }

  .buttons {
    padding-right: 0%;
    padding-left: 0%;
  }

  .btn {
    font-size: 0px;
  }

  .fas {
    font-size: 22px;
  }

  .img-circle {
    width: 100px;
    border-radius: 50px;
    flex: 3;
  }

  .tile {
    /*if the screen is thin (mobile) then have only one tile at a time*/
    width: 100%;
  }
}

/*if the screen is at least 600px wide*/
@media screen and (min-width: 601px) {
  .heading {
    flex: 2;
  }

  .section {
    /*-16% from 8% padding either side*/
    width: 84%;
    align-self: center;
    flex: 2;
  }

  .buttons {
    padding-right: 8%;
    padding-left: 8%;
  }

  .btn {
    font-size: 22px;
  }

  .img-circle {
    width: 150px;
    border-radius: 75px;
    flex: 4;
  }

  .tile {
    /*if the screen is wide (desktop) then have two tiles at a time*/
    width: 50%;
  }
}

@media (hover: hover) {
  .btn:hover {
    background-color: #4385cc;
  }

  a:hover {
    color: #4385cc;
  }

  .arrow:hover {
    color: #4385cc;
  }
}
