/* CSS 'reset' */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #1a1a1a;
}

body {
  overscroll-behavior-y: none;
}

.heading {
  background-color: #1a1a1a;
}

#name {
  font-family: "Roboto Slab", "Arial", sans-serif;
  font-size: 42px;
  color: #fffaff;
  padding-top: 10px;
}

.img-circle {
  width: 120px;
  border-radius: 50%;
  padding: 10px;

  /*to center the image*/
  margin: auto;
  display: block;
}

#mail {
  font-family: "Roboto Slab", "Arial", sans-serif;
  font-size: large;
  font-style: italic;

  /*to stop the link going accross the entire page*/
  width: min-content;
}

a {
  color: #fffaff;
  padding-top: 10px;
}

/*the github and linkedin icons*/
.fab {
  font-size: 30px;
  padding: 10px;
  padding-bottom: 20px;
}

/*the icons in the nav buttons*/
.fas {
  font-size: 30px;
}

.buttons {
  display: flex;
  padding-right: 8%;
  padding-left: 8%;
}

.btn {
  border: none;
  color: #fffaff;
  cursor: pointer;
  padding: 12px;
  flex: 1;
  font-size: 20px;
}

.btn:focus {
  background-color: #2a2a2a;
}

.btn-active {
  pointer-events: none;
  color: #1a1a1a;
}

#btnAbout {
  background-color: #2b4162; /*#053d45;*/
}

#about {
  background-color: #2b4162; /*#053d45;*/
}

#btnProj {
  background-color: #0b6e4f; /*#0f4f3a;*/
}

#projects {
  background-color: #0b6e4f; /*#0f4f3a;*/
}

#btnEdu {
  background-color: #fa9f42; /*#f5c050;*/
}

#education {
  background-color: #fa9f42; /*#f5c050;*/
}

#btnEmp {
  background-color: #721817; /*#379672;*/
}

#employment {
  background-color: #721817; /*#379672;*/
}

.section {
  /*-16% from 8% padding either side*/
  width: 84%;
  margin: auto;

  /*leave 78px for the height of the buttons*/
  height: calc(100% - 78px);

  color: #2a2a2a;
  box-sizing: border-box;
}

.section h2 {
  font-size: x-large;
}

.section p {
  font-size: large;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
}

.tileContainer {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  overflow-y: auto;
  overflow-x: hidden;
}

.tile {
  margin: 10px auto;
  border-left: 2px solid;
  border-color: #2a2a2a;
  background-color: #bfbfbf;
  width: 100%;
}

.tile h2 {
  padding-top: 5%;
  padding-left: 10%;
  padding-bottom: 10px;
}

/*if the screen is less than 600px wide (i.e. a mobile device)*/
@media screen and (max-width: 600px) {
  .section {
    width: 100%;
    padding: 0;

    /*leave 78px for the height of the buttons*/
    height: calc(100% - 54px);
  }

  .buttons {
    padding-right: 0%;
    padding-left: 0%;
  }

  .btn {
    font-size: 0px;
  }

  .img-circle {
    width: 80px;
  }

  .tile {
    /*if the screen is thin (mobile) then modify tile style*/
    width: 95%;
    border: 0px;
    border-top: 1px solid;
    border-color: #3f3f3f;
    background-color: #fffaff;
    margin: auto;
  }

  .tile p {
    font-size: medium;
  }
}

/*only have hover functionality on hover enabled devices (i.e. not touch)*/
@media (hover: hover) {
  .btn:hover {
    color: #9f9f9f;
  }

  a:hover {
    color: #9f9f9f;
  }
}
